@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
    width: 450px;
    margin: 150px auto 50px auto;
    border-radius: 40px;
  background: transparent;
    /* box-shadow: 0 4px 20px -2px #e9e9e9; */
}

/* Form text input */

.search-wrapper input {
  padding-left: 20px;
    width: 330px;
    height: 35px;
    padding: 10px 5px;
    float: left;   
    font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 10;
    background: #fff;
    border-radius: 10px;
    /* border-top-style: none; */
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #198cff;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.search-wrapper button:hover{    
    background: cornflowerblue;
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #198cff;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   

.form{
    margin-top: 0em;
}

.links{
    width: 500px;
    height: 400px;
    /* background-color: #198cff; */
    color: blue;
    position: relative;
    margin-left: 31%;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    
}

img{
    width: 20px;
    height: 20px;
}

/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #7eaff4 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #000000;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

body{
    background-color: rgb(225, 212, 240) ; 
   
    background-size: 120%;
}

/* .nav{
    /* background-color: cornflowerblue; */
    /* height:50px */


/* .navbar{
    
    margin-left:70%;

}  */

/* .down{
    margin-top: 10px; */
/* } */

.image{
    width: 100px;
    height: 100px;
}

.main-header{

    display: flex;
    justify-content: space-between;
    background-image: url("https://images.ctfassets.net/j2jqn9lauv41/7w8C7RXQpUJkCSkPqVO89T/fa387ba9ca91c14736a28043ff713a3b/hero-t2-SAS-Cybersecurity_Solutions.jpg");
}

h2{
    margin-right: 40%;
    color: rgb(241, 241, 115);
}

.large{
    font-size: 4rem;
}

.rise{
    text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 2s ease-in-out 0.5s forwards;
}

@keyframes rise {
	to {
		text-shadow: 0em 0.01em rgb(225, 235, 131), 0em 0.02em rgb(225, 235, 131), 0em 0.02em 0.03em rgb(225, 235, 131),
			-0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
			-0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
			-0.03em -0.03em 0.03em #000;
		transform: translateY(-0.025em) translateX(0.04em);
	}
}

.navigation{
    background-color: #198cff;
}
/* Header */
/* .bg-image{ */
    /* background-image: url("https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865392.jpg?size=626&ext=jpg"); */
    /* margin-top: 0; */

/* } */




.navbar{
    border-radius: 10px;
}
.navigation {
    background-color: #333;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
  }
  
.navigation a {
    /* color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navigation a:hover {
    background-color: #4ea1e5;
    color: black;
    border-radius: 10px;
    text-decoration: none;
  }
  
.navigation {
    background-color: #4ea1e5;
  }
.dropdown-item{
    border-radius: 0 !important;
}
.navigation li{
    margin: 0px 15px;
    padding: 0px 15px;
  }
  
  /* for card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin: 20px;
    display: inline-block !important;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.card img {
    width: 100%;
    height: 225;
  }
  
.card-body {
    padding: 20px;
  }
  
.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
.card a.btn {
    /* display: inline-block; */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

.card a.btn:hover {
    background-color: #555;
  }

.img-size{
    height: 298.4;
    width: 223.1;
}
.card-center{
    width:1380px;
    margin:auto;

}

.center{
    text-align: center;

}

.red{
    color: red;
}